
  .twoline {
    display: flex;
    justify-content: end;
  }
  
  .twoline1 {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  
  .twoline12 {
    display: flex;
    justify-content: start;
    align-items: end;
  }
  
  .twoline11 {
    display: flex;
    justify-content: start;
  
  }
  
  li {
    list-style: none;
  }
  
  .allaresame1234 {
    align-items: center;
  }
  
  .allaresame12345 {
    align-items: end;
  }
  

  .home-section {
    position: relative;
    top: 26%;
  }
  
  #green1 {
    border-radius: 5px !important;
    padding: 15px 32px !important;
    gap: 8px !important;
    background-color: #2DA004 !important;
    border: 2px solid transparent;
    margin-top: 100px;
  
  }
  .topss {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
  }
  
  @media screen and (max-width: 991px) {
    .navcss {
      display: block;
    }
  }
  .topss:hover {
    box-shadow: 10px 10px black; /* Box shadow properties */
    transform: scale(1.05); /* Scale up effect */
  }
  .move:hover{
    transform: scale(1.02);
  
  }
  @media screen and (max-width: 475px)  {
    .topes{
      top: 31% !important;
    }
  }
  
  @media screen and (max-width: 991px) {
    .line {
      display: none;
    }
    .twoline1{
      justify-content: center;
    }
    .twoline{
      justify-content: center;
    }
    .twoline11{
      justify-content: center;
    }
    .twoline12{
      justify-content: center;
    }
  
    .sametowu{
      display: flex;
      justify-content: center;
    }
  }
  
  @media screen and (max-width:670px) {
    .margines{
      margin-left: 0rem !important;
    }
  }
  @media screen and (max-width:hover) {
    .tops{
      top: 32% !important;
    }
    
  }
  @media screen and (max-width:991px) {
    .logocenterauto{
      width:fit-content;
    }
  }
  body {
    background: #C9F9E2;
  }

