body{
    background-color: #C9F9E2;
}
  
  .three1 {
    height: 274px !important;
    object-fit: contain;
  }
  
 
  .alltextcolor{
    color: #1E520C !important;
  }
  .alldata {
    position: relative;
    overflow: hidden;
    top:-50px;
  
    transition: transform 0.2s ease-out; /* Add transition for scaling */
  }
  .page{
    position: relative
    
    top;
  }
  
  .dataall {
    position: relative;
    transition: background-color 0.3s ease;
   background-color: transparent !important;
   
  }
  
  .dataall #art-icons {
    opacity: 0;
    transition: opacity 0.3s ease;
    
  }
  .hello{
    color:white;
  }
  
  .alldata:hover {
    transform: scale(1.05); /* Scale up on hover */
  }
  
  .alldata:hover .dataall #art-icons {
    opacity: 1;
    transform: scale(1);
    
  }
  
  .alldata:hover .heading {
    transform: scale(1.05); /* Scale up the card title on hover */
  }
  
  .heading  {
    transition: transform 0.2s ease-out; /* Add transition for scaling */
  }
  .icon{
    width: 10%;
  }
  @media  (max-width:923px)   {
    
  
  .navbarcss{
  
    margin-left: 0px !important;
  
  }
  
  }

  .brd{
    border-radius: 20px !important;
  }
  #cards:hover #when {
    background-color: green; 
    transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    color: white !important;
   
   
  }
  
  
  #cards:hover{
    transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
  }

  #were {
    opacity: 0;
    transition: opacity 0.3s;
  }
  #cards:hover #were {
  opacity: 1;
  }
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
