.backcolor{
    background-color: #C9F9E2 !important;
}
.backpicgreen{
    background-image: url(assets/BG.png);
}
.stars{
    color: yellow;
}
@media (min-width: 1200px){
    
    .fontparaone{
        width: 71%;
     
    }
    .fontpara{
        width: 71%;
        margin-top: 80%;
        margin-top: 9% !important;
    }
   

}
 