.upper {
  z-index: 1;
}

.three1 {
  height: 274px !important;
  object-fit: contain;
}

.twoline {
  display: flex;
  justify-content: end;
}

.twoline1 {
  display: flex;
  justify-content: end;
  align-items: end;
}

.twoline12 {
  display: flex;
  justify-content: start;
  align-items: end;
}

.twoline11 {
  display: flex;
  justify-content: start;

}

li {
  list-style: none;
}

.allaresame1234 {
  align-items: center;
}

.allaresame12345 {
  align-items: end;
}

.back-ground {
  height: 100vh;
  background:
    linear-gradient(rgba(55, 156, 102, 0.4), rgba(55, 156, 102, 0.4)),
    url(./assets/pexels-n-voitkevich-7615574\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.h2edit {
  font-size: clamp(25px, 4vw, 55px) !important;
  font-weight: 700 !important;
}

.pedit {
  font-size: clamp(14px, 4vw, 17px) !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
}

.p2 {
  margin-top: 3rem;
}




#green1 {
  border-radius: 5px !important;
  padding: 15px 32px !important;
  gap: 8px !important;
  background-color: #2DA004 !important;
  border: 2px solid transparent;
  margin-top: 90px;

}
.topss {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}


.topss:hover {
  box-shadow: 10px 10px black; /* Box shadow properties */
  transform: scale(1.05); /* Scale up effect */
}
.move:hover{
  transform: scale(1.02);

}
@media screen and (max-width: 520px)  {
  .fivvesix{
   padding: 1rem !important;
  }
}

@media screen and (max-width: 475px)  {
  .topes{
    top: 31% !important;
  }

  .textcss{
    padding: 1rem !important;
    margin: 0rem !important;
  }
}

@media screen and (max-width: 991px) {
  .line {
    display: none;
  }
  .twoline1{
    justify-content: center;
  }
  .twoline{
    justify-content: center;
  }
  .twoline11{
    justify-content: center;
  }
  .twoline12{
    justify-content: center;
  }

  .sametowu{
    display: flex;
    justify-content: center;
  }
  .blocks{
    display: block;
  }
}

@media screen and (max-width:670px) {
  .margines{
    margin-left: 0rem !important;
  }
}
@media screen and (max-width:hover) {
  .tops{
    top: 32% !important;
  }
  
}
@media screen and (max-width:991px) {
  .logocenterauto{
    width:fit-content;
  }
  .topnavbar{
    width: 100% !important;
  }
}
body {
  background: #C9F9E2;
}
#divvd:hover {
  box-shadow: 10px 10px;

}

#slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

}

.slide {
  width: 100%;

  display: none;
  animation-name: fade;
  animation-duration: 1s;

}

img {
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 25px 25px;
  border-radius: 50%;

}

.controls:hover {
  background: #FFFFFF80;
  transition: 0.3s;
}

.controls:active {
  color: grey;
}

#left-arrow {
  left: 10px;
}

#right-arrow {
  right: 10px;
}

#dots-con {

  text-align: center;
}

.dot {
  display: inline-block;
  background: grey;
  padding: 8px;
  border-radius: 50%;
  margin: 10px 5px;
}

.active {
  background: #306d51;
}

@media (max-width:576px) {
  #slider {
    width: 100%;

  }

  .controls {
    font-size: 1em;
  }

  #dots-con {
    display: none;
  }
}

.herbal {
  border-radius: 20px !important;
  height: 450px !important;
  color: #1E520C;

}

.ininput {
  width: 200px;
  display: flex;
  justify-content: end;
  border: 2px solid;
  align-items: center;
  padding: 8px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #306d51;
  color: white;
}
.leftside ::placeholder {
  color: white !important; /* Adjust placeholder color */
  z-index: 1 !important;
  opacity: 1 !important;
}

.leftside {
  color: white; /* Adjust input text color */
}
.textline{
  line-height: 4px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  
}
.slider-card{
   
    background-color: aliceblue;
    
}
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
   /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, white); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.borderradious{
  border-radius: 30px !important;
}
.slider-card {
  
  padding: 0px 0px;
  margin: 50px 0px 90px 0px;
  border-radius: 10px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 15px 15px 15px 15px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  
}
.alltextcolor{
  color: #1E520C !important;
}
.alldata {
  position: relative;
  overflow: hidden;
  top:-50px;
 
  
 
 
  
  transition: transform 0.2s ease-out; /* Add transition for scaling */
}
.page{
  position: relative
  
  top;
}

.dataall {
  position: relative;
  transition: background-color 0.3s ease;
 background-color: transparent !important;
 height: ;
 
}

.dataall #art-icons {
  opacity: 0;
  transition: opacity 0.3s ease;
  
}
.hello{
  color:white;
}

.alldata:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.alldata:hover .dataall #art-icons {
  opacity: 1;
  transform: scale(1);
  
}

.alldata:hover .heading {
  transform: scale(1.05); /* Scale up the card title on hover */
}

.heading  {
  transition: transform 0.2s ease-out; /* Add transition for scaling */
}
.icon{
  width: 10%;
}
@media  (max-width:923px)   {
  



}



.google-map{
  overflow: auto;
}
.brd{
  border-radius: 20px !important;
}
#cards:hover #when {
  background-color: green; 
  transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
  color: white !important;
 
 
}


#cards:hover{
  transform: scale(1.02); /* IE 9 */
-webkit-transform: scale(1.02); /* Safari 3-8 */
transform: scale(1.02);
}


#were {
  opacity: 0;
  transition: opacity 0.3s;
}


#cards:hover #were {
opacity: 1;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.home-section {
  position: relative;
  top: 26%;
}
.back-ground {
  height: 100vh;
  background:
    linear-gradient(rgba(55, 156, 102, 0.4), rgba(55, 156, 102, 0.4)),
    url(./assets/pexels-n-voitkevich-7615574\ 1.png ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.h2edit {
  font-size: clamp(22px, 4vw, 55px);
  font-weight: 700;
}

.pedit {
  font-size: clamp(10px, 3vw, 17px);
  font-weight: 400;
  margin-bottom: 0px !important;
}

.p2 {
  margin-top: 3rem;
}








